<nav class="side-nav col-xl-3 col-lg-3 col-md-12 order-2 order-lg-1 py-5 bg-light">
<h1 class="day-heading">
    <span>W04D3</span>
    <small></small>
</h1>
<h5>

</h5>
<hr/>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W01</td>
            <td class="day unlocked">
                <a class="" href="/day/w01d1">1</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w01d2">2</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w01d3">3</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w01d4">4</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w01d5">5</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w01we">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W02</td>
            <td class="day unlocked">
                <a class="" href="/day/w02d1">1</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w02d2">2</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w02d3">3</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w02d4">4</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w02d5">5</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w02we">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <td class="week">W03</td>
        <td class="day unlocked">
            <a class="" href="/day/w03d1">1</a>
        </td>
        <td class="day unlocked">
            <a class="" href="/day/w03d2">2</a>
        </td>
        <td class="day unlocked">
            <a class="" href="/day/w03d3">3</a>
        </td>
        <td class="day unlocked">
            <a class="" href="/day/w03d4">4</a>
        </td>
        <td class="day unlocked">
            <a class="" href="/day/w03d5">5</a>
        </td>
        <td class="day unlocked">
            <a class="" href="/day/w03we">we</a>
        </td>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <td class="week">W04</td>
            <td class="day unlocked">
                <a class="" href="/day/w04d1">1</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w04d2">2</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w04d3">3</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w04d4">4</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w04d5">5</a>
            </td>
            <td class="day unlocked">
                <a class="" href="/day/w04we">we</a>
            </td>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W05</td>
            <td class="day locked">
                <a class="disabled" href="#">1</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">2</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">3</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">4</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">5</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W06</td>
            <td class="day locked">
                <a class="disabled" href="#">1</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">2</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">3</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">4</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">5</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W07</td>
            <td class="day locked">
                <a class="disabled" href="#">1</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">2</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">3</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">4</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">5</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <td class="week">W08</td>
            <td class="day locked">
                <a class="disabled" href="#">1</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">2</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">3</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">4</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">5</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W09</td>
            <td class="day locked">
                <a class="disabled" href="#">1</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">2</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">3</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">4</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">5</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">we</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="side-schedule table table-bordered table-sm table-rounded">
    <tbody>
        <tr>
            <td class="week">W10</td>
            <td class="day locked">
                <a class="disabled" href="#">1</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">2</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">3</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">4</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">5</a>
            </td>
            <td class="day locked">
                <a class="disabled" href="#">we</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="day-nav-links">
    <a class="btn btn-outline-secondary btn-yesterday" href="#">Yesterday</a>
    &nbsp;<a class="btn btn-outline-primary btn-today" href="#">Today</a>
</div>
</nav>
