<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Sextant<%= (typeof title !== "undefined") ? (" - " + title) : "" %></title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/compass_favicon-ee442e8b11982711424e19567244af062d10f1044924992a660205bc5147c060.ico"/>
    <link rel="stylesheet" href="/styles/table.css">
  </head>
  <body class="days-show">

    <% include _nav %>

    <main class="container-fluid" role="main">
      <div class="row">

      <% include _calendar %>

      <div class="main-content content col-xl-9 col-lg-9 col-md-12 order-1 order-lg-2 py-5 px-4">
        <div class="teacher-holder d-none d-lg-block" data-turbolinks-permanent="true">

          <h4>Teachers on duty</h4>
          <a href="#">
            <img id="teacher_268" title="Winnie the Pooh" class="busy" data-toggle="tooltip" data-placement="bottom" src="/assets/pooh.jpg" alt="Pooh"/>
          </a>
          <a href="#">
            <img id="teacher_1812" title="Poop Emoji" class="busy" data-toggle="tooltip" data-placement="bottom" src="/assets/poop.png" alt="Poop Emoji"/>
          </a>
          <a href="#">
            <img id="teacher_24" title="Thanos, the Mad Titan" data-toggle="tooltip" data-placement="bottom" src="/assets/thanos.jpg" alt="Thanos, the Mad Titan"/>
          </a>

        </div>
