
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" data-turbolinks-permanent="true" role="navigation">
  <a title="Home" class="navbar-brand" href="/days/today">
      <i class="fa fa-fw fa-lg fa-compass"></i>
  </a>
  <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <div aria-labelledby="nav-program-dropdown" class="dropdown-menu">
                  <!-- <a class="dropdown-item" title="Schedule" href="/days/today"> -->
                      <i class="fa fa-fw fa-calendar"></i>
                      Schedule
                  </a>
                  <a class="dropdown-item" title="Lectures" href="/lectures">
                      <i class="fa fa-fw fa-tv"></i>
                      Lectures
                  </a>
                  <a class="dropdown-item" title="Projects" href="/projects">
                      <i class="fa fa-fw fa-pencil-square-o"></i>
                      Projects
                  </a>
                  <a class="dropdown-item" title="Tech Interviews" href="/tech_interview_templates">
                      <i class="fa fa-fw fa-comments"></i>
                      Interviews
                  </a>
                  <a class="dropdown-item" title="Prep Work" href="/prep">
                      <i class="fa fa-fw fa-paper-plane-o"></i>
                      Prep Work
                  </a>
              </div>
          </li>
          <form style= align="center" name="form1" method="post" action="/register">
            <label>
            <input name="submit2" type="submit" id="submit2" value="Register Here">
            </label>
          </form>
          <li class="nav-item">
              <a title="Incomplete Activities" class="nav-link" href="/myResources">
                  <i class="fa fa-fw fa-exclamation-triangle"></i>
                  <span class="non-tablet-label">My Resources</span>
              </a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a title="Feedback" class="nav-link" href="/feedbacks">
                  <i class="fa fa-fw fa-comment"></i>
                  <span class="non-tablet-label" id="feedback-link">Feedback (3)</span>
              </a>
          </li>
          <li class="dropdown nav-item current-user">
              <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                  <i class="fa fa-fw fa-cogs"></i>
                  <span class="non-tablet-label">Adam</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="/profile/edit">Edit Profile</a>
                  <a class="dropdown-item" href="/students">Classmates</a>
                  <a class="dropdown-item" href="/teachers?location_id=6">Teachers</a>
                  <a class="sign-out-link dropdown-item" rel="nofollow" data-method="delete" href="/session">Sign Out</a>
              </div>
          </li>
          <li id="assistance-request-module">
              <span class="d-none" id="cancel-assistance-request">
                  <a class="navbar-btn btn btn-outline-warning cancel-request-assistance-button" data-toggle="tooltip" data-placement="bottom" title="Cancel this Assistance Request" method="post" action="/logout">Waiting for Assistance</a>
              </span>
              <form align="center" name="form1" method="post" action="/logout">
                <label>
                <input name="submit2" type="submit" id="submit2" value="log out">
                </label>
              </form>
          </li>
      </ul>
  </div>
</nav>