<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Sextant<%= (typeof title !== "undefined") ? (" - " + title) : "" %></title>
    <link rel="shortcut icon" type="image/x-icon" href="compass_favicon-ee442e8b11982711424e19567244af062d10f1044924992a660205bc5147c060.ico"/>
    <link rel="stylesheet" href="/styles/table.css">
  </head>
  <body class="days-show">

    <% include _nav %>

    <main class="container-fluid" role="main">
      <div class="row">

      <% include _calendar %>

      <div class="main-content content col-xl-9 col-lg-9 col-md-12 order-1 order-lg-2 py-5 px-4">
        <div class="teacher-holder d-none d-lg-block" data-turbolinks-permanent="true">
           
    

