<% include ./partials/_header %>

<div ><ol>
<br>
<br>
<br>
    <% results.forEach(function (result){ %>
     <li><a href= <%= result.url %>><%= result.url %></a> </a> </li>
        <% }) %>
</div></ol>
<div><ol>
<br>
<% results.forEach(function (result){ %>
 <li> <%= result.description %></li>
    <% }) %>
</div></ol>

<% include ./partials/_footer %>


