<!DOCTYPE html>
<html>
  <header>
    <% include ./partials/_header %>
  </header>
  <link rel="stylesheet" href="/styles/table.css"/>
  <head>
<<<<<<< HEAD
    
</head>
  <body>
  </body>
</html>
=======

</head>
  <body>
  </body>
</html>
>>>>>>> 69ae1fd417bffe59952b9a29b7b9bb5385ef60f3
