<!DOCTYPE html>
<html>
  <header>
    <% include ./partials/_header %>
  </header>
  <link rel="stylesheet" href="/styles/table.css"/>
  <head>
    
</head>
  <body>
        <div><ol>
            <br>
            <br>
            <br>
                <% results.forEach(function (result){ %> 
                 <li> <%= result.url %> </li>
                    <% }) %> 
        </div></ol>
        <div><ol>
            <br>
                <% results.forEach(function (result){ %> 
                 <li> <%= result.description %></li>
                    <% }) %> 
            </div></ol>
            <div><ol>
                    <br>
                    <br>
                    <br><a href = "
                    <% results.forEach(function (result){ %> 
                        <li> <%= result.url %>" </li>
                           <% }) %> </li>
                </div></ol>
                
</html>
