<% include ./partials/_header %>
<h3>Topics Related to This Day</h3>
<div class="pinnednote   activity">
    <div class="name"></div>
    </div>
    
    <div class="pinned-content">
    <div class="instructions">
  
<div ><ol>
<br>
<br>
<br>
    <% results.forEach(function (res){ %>
     <li><a href= <%= res.url %>><%= res.url %></a> - <a href="/resource/<%= res.id %>">Detail</a>
        <% include ./partials/_resource-small %>

    </li>
     
        <% }) %>
</div></ol>
<div><ol>
<br>
<% results.forEach(function (result){ %>
 <li> <%= result.description %>

</li>
    <% }) %>
</div></ol>

<% include ./partials/_footer %>


