<% include ./partials/_header %>


  <div class="pinnednote activity">
      <div class="name"><%= errCode %> - <%= errMsg %></div>
  </div>

  <div class="pinned-content">
    <div class="instructions">
      <p>Hopefully that means something to you, because we're stumped.</p>
    </div>
  </div>

<a href="/">Home</a>

<% include ./partials/_footer %>
