<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>Sextant</title>
        <link rel="shortcut icon" type="image/x-icon" href="compass_favicon-ee442e8b11982711424e19567244af062d10f1044924992a660205bc5147c060.ico"/>
        <link rel="stylesheet" href="/styles/table.css"
    </head>
    <body class="days-show">
        <header class="p-4">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" data-turbolinks-permanent="true" role="navigation">
                <a title="Home" class="navbar-brand" href="/days/today">
                    <i class="fa fa-fw fa-lg fa-compass"></i>
                </a>
                <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <div aria-labelledby="nav-program-dropdown" class="dropdown-menu">
                                <!-- <a class="dropdown-item" title="Schedule" href="/days/today"> -->
                                    <i class="fa fa-fw fa-calendar"></i>
                                    Schedule
                                </a>
                                <a class="dropdown-item" title="Lectures" href="/lectures">
                                    <i class="fa fa-fw fa-tv"></i>
                                    Lectures
                                </a>
                                <a class="dropdown-item" title="Projects" href="/projects">
                                    <i class="fa fa-fw fa-pencil-square-o"></i>
                                    Projects
                                </a>
                                <a class="dropdown-item" title="Tech Interviews" href="/tech_interview_templates">
                                    <i class="fa fa-fw fa-comments"></i>
                                    Interviews
                                </a>
                                <a class="dropdown-item" title="Prep Work" href="/prep">
                                    <i class="fa fa-fw fa-paper-plane-o"></i>
                                    Prep Work
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a title="Incomplete Activities" class="nav-link" href="/myResources">
                                <i class="fa fa-fw fa-exclamation-triangle"></i>
                                <span class="non-tablet-label">My Resources</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a title="Profile" class="nav-link" href="/profile">
                                <i class="fa fa-fw fa-comment"></i>
                                <span class="non-tablet-label" id="feedback-link">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a title="Register" class="nav-link" href="/register">
                                <i class="fa fa-fw fa-comment"></i>
                                <span class="non-tablet-label" id="feedback-link">Register Here</span>
                            </a>
                        </li>
                        <li class="dropdown nav-item current-user">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                                <i class="fa fa-fw fa-cogs"></i>
                                <span class="non-tablet-label"> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/profile/edit"> Profile</a>
                                <a class="dropdown-item" href="/students">Classmates</a>
                                <a class="dropdown-item" href="/teachers?location_id=6">Teachers</a>
                                <a class="sign-out-link dropdown-item" rel="nofollow" data-method="delete" href="/session">Sign Out</a>
                            </div>
                        </li>
                        <li id="assistance-request-module">
                            <span class="d-none" id="cancel-assistance-request">
                                <a class="navbar-btn btn btn-outline-warning cancel-request-assistance-button" data-toggle="tooltip" data-placement="bottom" title="Cancel this Assistance Request" method="post" action="/logout">Waiting for Assistance</a>
                            </span>
                            <form align="center" name="form1" method="post" action="/logout">
                              <label>
                              <input name="submit2" type="submit" id="submit2" value="log out">
                              </label>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container-fluid" role="main">
            <div class="row">
                <nav class="side-nav col-xl-3 col-lg-3 col-md-12 order-2 order-lg-1 py-5 bg-light">
                    <h1 class="day-heading">
                        <span>W04D3</span>
                        <small></small>
                    </h1>
                    <h5>
                        <small class="text-muted">Wed Nov 14</small>
                    </h5>
                    <hr/>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W01</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w01d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w01d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w01d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w01d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w01d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w01e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W02</td>
                                <td class="day unlocked">
                                    <a class="" href="/day">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w02d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w02d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w02d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w02d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w02e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W03</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w03d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w03d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w03d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w03d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w03d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w03e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W04</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w04d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w04d2">2</a>
                                </td>
                                <td class="day table-success table-primary unlocked">
                                    <a class="" href="/days/w04d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w04d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w04d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w04e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W05</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w05d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w05d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w05d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w05d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w05d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w05e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W06</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w06d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w06d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w06d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w06d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w06d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w06e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W07</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w07d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w07d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w07d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w07d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w07d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w07e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W08</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w08d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w08d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w08d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w08d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w08d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w08e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W09</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w09d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w09d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w09d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w09d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w09d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w09e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="side-schedule table table-bordered table-sm table-rounded">
                        <tbody>
                            <tr>
                                <td class="week">W10</td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w10d1">1</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w10d2">2</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w10d3">3</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w10d4">4</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w10d5">5</a>
                                </td>
                                <td class="day unlocked">
                                    <a class="" href="/days/w10e">we</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="day-nav-links">
                        <a class="btn btn-outline-secondary btn-yesterday" href="/days/yesterday">Yesterday</a>
                        &nbsp;<a class="btn btn-outline-primary btn-today" href="/days/today">Today</a>
                    </div> -->
                </nav>
                <div class="main-content content col-xl-9 col-lg-9 col-md-12 order-1 order-lg-2 py-5 px-4">

                    <div class="reconnect-holder card">
                        <p>You have been disconnected.</p>
                        <a class="btn btn-success reconnect">Reload</a>
                        <a class="btn btn-secondary dismiss">Dismiss</a>
                    </div>
                    <div class="schedule-heading clearfix">
                        <h1 class="pull-left">Schedule</h1>
                    </div>
                    <div class="pinnednote   activity">
                        <div class="icon icon-type" title="PinnedNote">
                            <i class="fa fa-sticky-note"></i>
                        </div>
                        <div class="time time-duration">
                            <br/>
                            Note<br/>
                        </div>
                        <div class="name">Lighthouse Labs Resource Wall</div>
                    </div>
                    <div class="pinned-content">
                        <div class="instructions">
                            <ul>
                              <li>Recent</li>
                              <li>Resources</li>
                              <li>Will Go</li>
                              <li>Here With a Comment Box</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pinnednote   activity">
                        <div class="icon icon-type" title="PinnedNote">
                            <i class="fa fa-sticky-note"></i>
                        </div>
                        <div class="time time-duration">
                            <br/>
                            Note<br/>
                        </div>
                        <div class="name">Topics To Search By</div>
                    </div>
                    <div class="pinned-content">
                        <div class="instructions">
                            <ul>
                                <li>This Will</li>
                                <li>Be A List</li>
                                <li>Of Topics</li>
                                <li>To Search</li>
                              </ul>
                        </div>
                    </div>
                    <h3></h3>

                    <h3>Lectures &Breakouts</h3>
                    <a class="lectureplan   activity" href="/days/w04d3/activities/352">
                        <div class="icon icon-type" title="LecturePlan">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="time">
                            10:00<br/>
                            to<br/>12:00
                        </div>
                        <div class="name">Project Kickoff &nbsp;</div>
                    </a>
                    <h3>Work Activities</h3>
                    <a class="task   activity" href="/days/w04d3/activities/353">
                        <div class="icon icon-type" title="Task">
                            <i class="fa fa-flash"></i>
                        </div>
                        <div class="time time-duration">
                            <br>
                            15m<br>
                        </div>
                        <div class="icon icon-completion">
                            <i class="fa fa-square-o"></i>
                        </div>
                        <div class="name">Setup Local PG Database &nbsp;</div>
                    </a>
                    <a class="task   activity" href="/days/w04d3/activities/354">
                        <div class="icon icon-type" title="Task">
                            <i class="fa fa-flash"></i>
                        </div>
                        <div class="time time-duration">
                            <br>
                            30m<br>
                        </div>
                        <div class="icon icon-completion">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="name">Setup Git Repo &nbsp;</div>
                    </a>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Daily Feedback</h2>
                                    <form class="" id="new_day_feedback" action="/days/w04d3/feedbacks" accept-charset="UTF-8" method="post">
                                        <input name="utf8" type="hidden" value="&#x2713;"/>
                                        <input type="hidden" name="authenticity_token" value="jd0C/ScXmmT5AHXIaVot68PWsqlWuckcziOwx02s8aUwnurqcbUlt95wovQlprEGPKVEnCDKRaHzFjR1SpyQZg=="/>
                                        <fieldset>
                                            <p>
                                                <small>Use this form to provide your overall sentiment about TODAY. Neither curriculum-specific nor teacher-specific feedback should be placed here. Think instead about how today went as a whole in terms of the experience (the mood, the energy, the space, mentor support and availability, the space itself, etc).</small>
                                            </p>
                                            <only></only>
                                            <div class="form-group">
                                                <label class="face" for="day_feedback_mood_happy">
                                                    <input type="radio" value="happy" name="day_feedback[mood]" id="day_feedback_mood_happy"/>
                                                    <i class="fa fa-smile-o fa-5x"></i>
                                                </label>
                                                <label class="face" for="day_feedback_mood_ok">
                                                    <input type="radio" value="ok" name="day_feedback[mood]" id="day_feedback_mood_ok"/>
                                                    <i class="fa fa-circle-thin fa-5x"></i>
                                                </label>
                                                <label class="face" for="day_feedback_mood_sad">
                                                    <input type="radio" value="sad" name="day_feedback[mood]" id="day_feedback_mood_sad"/>
                                                    <i class="fa fa-frown-o fa-5x"></i>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input placeholder="Title (optional)" class="form-control" type="text" name="day_feedback[title]" id="day_feedback_title"/>
                                            </div>
                                            <div class="form-group">
                                                <textarea placeholder="Details about your sentiment here (required)" class="form-control" name="day_feedback[text]" id="day_feedback_text" cols="24" rows="6"></textarea>
                                            </div>
                                            <div align="left">
                                                <div class="actions">
                                                    <input type="submit" name="commit" value="Submit Feedback" class="btn btn-danger btn-lg" data-disable-with="Submit Feedback"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
