<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resouce Index</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  
  </head>
  <div id="navbar">
  <p align="right"> Username | <a href="{{SignOutLink}}">Sign Out</a></p>
  <center>
  <table border="0" cellpadding="15">
  <tr>
  <td>Welcome, <strong> firstName</strong>
  <br>Your username is: userName
  <br><a href="{{MyProfileLink}}">Edit Profile</a></td>
  <br><textarea class="search" placeholder="implement search here"></textarea> 
   </tr>
   </table>
  </center></div>
  <body>
    <h1>Hello World!</h1>
    <nav class="side-nav col-xl-3 col-lg-3 col-md-12 order-2 order-lg-1 py-5 bg-light">
      <h1 class="day-heading">
        <span>Look For Resources By Day</span
          ><small></small>
      </h1>
      <ul align="right" class="reference-list">
          <p> <a href="">This will be a reference link</a></p></li>
          <p> <a href="">This will be a reference link </a></p></li>
          <p> <a href="">This will be a reference link</a></p></li>
        </ul>
      <div class="table">
        <ul class='table-row'>
          <li class="week-number">W1</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>we</li>
        </ul>
      </div>
      <div class="table">
          <ul class='table-row'>
            <li class="week-number">W2</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>we</li>
          </ul>
        </div>
        <div class="table">
            <ul class='table-row'>
              <li class="week-number">W3</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>we</li>
            </ul>
        </div>
        <div class="table">
              <ul class='table-row'>
                <li class="week-number">W4</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>we</li>
              </ul>
        </div>
        <div class="table">
                <ul class='table-row'>
                  <li class="week-number">W5</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>we</li>
                </ul>
         </div>
         <div class="table">
            <ul class='table-row'>
              <li class="week-number">W6</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>we</li>
            </ul>
          </div>
          <div class="table">
              <ul class='table-row'>
                <li class="week-number">W7</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>we</li>
              </ul>
            </div>
            <div class="table">
                <ul class='table-row'>
                  <li class="week-number">W8</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>we</li>
                </ul>
              </div>
              <div class="table">
                  <ul class='table-row'>
                    <li class="week-number">W9</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>we</li>
                  </ul>
              </div>
              <div class="table">
                    <ul class='table-row'>
                      <li class="week-number">W10</li>
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>we</li>
                    </ul>
              </div>
              
        </body>
  
</html>
