<% include ./partials/_header %>

<h3>Recently Added</h3>

<!-- <div class="pinnednote   activity">
    <div class="name">Topics To Search By</div>
</div>

<div class="pinned-content">
    <div class="instructions">
        <ul>
            <li>This Will </li>
            <li>Be A List</li>
            <li>Of Topics</li>
            <li>To Search</li>
          </ul>
    </div>
</div> -->

<div class="pinnednote   activity">
    <div class="name">Recent Resources</div>
</div>

<div class="pinned-content">
    <div class="instructions">
        <ul>
                <% for (let i in results) { %>
                    <li><a href= <%= results[i].url %>> - <%= results[i].title %></a> </a> </li>
                  <% } %>
          </ul>
    </div>
</div>

<% include ./partials/_footer %>
