<% include ./partials/_header %>


<div class="pinnednote   activity">
<div class="name">Recent Resources</div>
</div>

<div class="pinned-content">
<<<<<<< HEAD
    <div class="instructions">
        <ul>
                <% for (let i in results) { %>
                    <li><a href= <%= results[i].url %>> - <%= results[i].description %></a> </a> </li>
                    
                  <% } %>
          </ul>
    </div>
=======
<div class="instructions">
  <ul>
    <% for (let i in results) { %>
      <% let res = results[i]; %>
      <% include ./partials/_resource-small %>
    <% } %>
  </ul>
</div>
>>>>>>> 0604cd10d21b9a24c83b25a7c071aabca218d189
</div>

<% include ./partials/_footer %>
