<% include ./partials/_header %>


<div class="pinnednote   activity">
<div class="name"><i class="fa fa-clock-o"></i> Recent Resources</div>
</div>

<div class="pinned-content">
<div class="instructions">
  <ul>
    <% for (let i in results) { %>
      <% let res = results[i]; %>
      <% include ./partials/_resource-small %>
    <% } %>
  </ul>
</div>
</div>

<% include ./partials/_footer %>
