<!DOCTYPE html>
<html>
  <header>
    <title>Login</title>
  </header>
  <body>
    <head>
            <a href="/register">Register Here</a>
    </head>
    <h1 style="font-family:sans-serif;"><u>Login</u></h1>
   <form action="/login" method="POST">
     <table style="margin:30px;">
       <tr style="height:60px;">
         <td style="font-family:cursive;" ><label for="name">Username:</label></td>
         <td style="width:250px;"><input id="emial" name="email" type="email" style="width:200px;"></td>
       </tr>
       <!-- <tr>
         <td style="font-family:cursive;"><label for="password">Password:</label></td>
         <td><input id="password" name="password" type="password" style="width:200px;"></td>
       </tr> -->
     </table>
      <button style="margin-left: 277px;">Login<img src="https://image.flaticon.com/icons/svg/248/248927.svg" width="20" height="20"></button>
    </form>
  </body>
</html>
