<% include ./partials/_header %>

<div class="pinnednote activity">
    <div class="name">Login</div>
</div>
<div class="pinned-content">
  <div class="instructions">

    <form action="/login" method="POST">
      <label for="username">Username:</label></td>
      <input id="nameID" name="name"></td>
      <button class="btn navbar-btn btn-primary">Login <img src="https://image.flaticon.com/icons/svg/248/248927.svg" width="20" height="20"></button>

    </form>
  </div>
</div>

<% include ./partials/_footer %>
