<% include ./partials/_header %>

<h3>My Resources</h3>

<div class="container">
  <ul>
    <script>
      document.getElementById("myInput").addEventListener("input", myFunction);

function myFunction() {
    alert("The value of the input field was changed.");
}  
    </script>
  </ul>
  <ul></ul>
</div>



<% include ./partials/_footer %>
