<% include ./partials/_header %>

<h3>My Resources</h3>

<div class="container">
  <ul>
      <div><ol>
          <br>
          <% results.forEach(function (result){ %>
            <li><a href= <%= result.url %>><%= result.url %></a> </a> </li>
               <% }) %>
      </div></ol>
  </ul>
</div>
<div class="container">
    <ul>
        <div><ol>
            <br>
            <% results.forEach(function (result){ %>
              <li> <%= result.description %> </li>
                 <% }) %>
        </div></ol>
    </ul>
  </div>
  <div class="container">
      <ul>
          <div><ol>
              <br>
              <% results.forEach(function (result){ %>
                <li> <%= result.title %> </li>
                   <% }) %>
          </div></ol>
      </ul>
    </div>



<% include ./partials/_footer %>
