
<% include ./partials/_header %>

<h3>My Resources</h3>

<div class="pinnednote   activity">
  <div class="name"></div>
  </div>
  
  <div class="pinned-content">
  <div class="instructions">
    <ul>
      <% for (let i in results) { %>
        <% let res = results[i]; %>
        <% include ./partials/_resource-small %>
      <% } %>
    </ul>
</div>




<% include ./partials/_footer %>