<!DOCTYPE html>
<html>
  <header>
    <title>Login</title>
    <% include ./partials/_header %>
  </header>
  <link rel="stylesheet" href="/styles/table.css"/>
  <head>
    <a href="/register">Register Here</a>
</head>
  <body>
    <br>
    <br>
    <br>
    <main class="container">
<ul>
        <hr>
        <% for (let x in liked){ %>
        <li>  <%= liked[x].title %> </li> 
   <% } %>
</ul>
          </main>
  </body>
</html>
