<!DOCTYPE html>
<html>
  <header>
    <title>Login</title>
    <% include ./partials/_header %>
  </header>
  <link rel="stylesheet" href="/styles/table.css"/>
  <head>
    <a href="/register">Register Here</a>
</head>
  <body>
    <br>
    <br>
    <br>
    <main class="container">
<ul>
  <li>  <% for (let x in mine){ %>
        <%= mine[x].title %>
        <% } %>
        <hr>
        <% for (let x in liked){ %>
          <%= liked[x].title %>
  </li> <% } %>
</ul>
          </main>
  </body>
</html>
