<% include ./partials/_header %>

<div class="pinnednote   activity">
  <div class="name"><i class="fa fa-user"></i> Submit A New Resource</div>
</div>
<div class="pinned-content">
        <form id="formInput" novalidate="novalidate"  action="/my-resources" accept-charset="UTF-8" data-remote="true" method="post">
            <div class="form-group text optional activity_feedback_detail">
              <input type="text" class="form-control text" placeholder="Resource title" name="title" id="activity_feedback_detail">
            </div>
            <div class="form-group text optional activity_feedback_detail">
                <input type="text" class="form-control text" placeholder="URL: http://my.awesome.link" name="url" id="activity_feedback_detail">
            </div>
            <div class="form-group text optional activity_feedback_detail">
                    <div>

                        <textarea class="form-control text optional" placeholder="A short description" name="description" id="activity_feedback_detail"></textarea>
                    </div>
                </div>
                    <div class="form-group text optional">
                            <label class="control-label text optional">Topic: </label>
                              <select name="topic">
                                <option value="1">Javascript</option>
                                <option value="2">HTML</option>
                                <option value="3">CSS</option>
                                <option value="4">Git</option>
                                <option value="5">Terminal</option>
                                <option value="6">Editors</option>
                                <option value="7">Node/NPM</option>
                                <option value="8">HTTP/REST</option>
                                <option value="9">Express</option>
                                <option value="10">EJS</option>
                                <option value="11">MongoDB</option>
                                <option value="12">SQL</option>
                                <option value="13">Postgres</option>
                                <option value="14">Knex</option>
                                <option value="15">jQuery</option>
                                <option value="16">Databases</option>
                                <option value="17">Heroku</option>
                                <option value="18">General</option>
                              </select>
                        </div>
                    <input type="submit" name="commit" value="Submit Resource" class="btn btn-tiny btn-primary" data-disable-with="Submit Feedback"/>
        </form>
</div>



<% include ./partials/_footer %>