<% include ./partials/_header %>

<div class="card bg-light" style="margin-top: 40px;">
<h5 class="card-header" id="feedback-form">Submit A New Resource</h5>
<div class="card-body">
        <form id="formInput" novalidate="novalidate"  action="/my-resources" accept-charset="UTF-8" data-remote="true" method="post">
            <div class="form-group text optional activity_feedback_detail">
                <label class="control-label text optional">URL</label>
                <input type="text" class="form-control text" placeholder="http://my.awesome.link" name="resource_url" id="activity_feedback_detail"></text>

            </div>
            <div class="form-group text optional activity_feedback_detail">
                    <label class="control-label text optional" for="activity_feedback_detail">Description</label>
                    <div>

                        <textarea class="form-control text optional" placeholder="A Short Description" name="resource_description" id="activity_feedback_detail"></textarea>
                    </div>
                </div>
                    <div class="form-group text optional activity_feedback_detail">
                            <label class="control-label text optional" for="activity_feedback_detail">Topic</label>
                            <div>

                                <textarea class="form-control text optional" placeholder="Javascript, HTML, JQuery, etc..." name="resource_topic" placeholder="A Short Description of The Resource Being Added" name="resource_description" id="activity_feedback_detail"></textarea>
                            </div>
                        </div>
                    <input type="submit" name="commit" value="Submit Resource" class="btn btn-tiny btn-primary" data-disable-with="Submit Feedback"/>
        </form>
  </div>





<% include ./partials/_footer %>
