<% include ./partials/_header %>

<div class="pinnednote   activity">
  <div class="name"><i class="fa fa-user"></i> My Resources</div>
</div>

<div class="pinned-content">
  <div class="instructions">
    <% for (let i in results) { %>
      <% let res = results[i]; %>
      <% include ./partials/_resource-small %>
    <% } %>
  </div>
</div>

<% include ./partials/_footer %>
