<% include ./partials/_header %>

<div class="pinnednote activity">
    <div class="name">Register</div>
</div>
<div class="pinned-content">
  <div class="instructions">

  <form action="/register" method="POST">

        <table>
          <tr>
            <td><label for="username">Username:</label></td>
            <td><input name="name"></td>
          </tr>
        </table>
        <button>Register<img src="https://image.flaticon.com/icons/svg/248/248927.svg" width="20" height="20"></button>

    </form>
  </div>
</div>

<% include ./partials/_footer %>
