<% include ./partials/_header %>


<div class="pinnednote   activity">
<i class="fa fa-user"></i>
<span class="name"><%= results.user %>'s Resources</span>
</div>

<div class="pinned-content">
<div class="instructions">
  <ul>
    <% for (let i in results.resources) { %>
      <% let res = results.resources[i]; %>
      <% include ./partials/_resource-small %>
    <% } %>
  </ul>
</div>
</div>

<% include ./partials/_footer %>
